# Next.js build output
.next/
out/
build/
dist/
dist-ssr/
**/dist/
**/build/

# Dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.js

# Environment files
.env
.env*.local
**/.env
**/.env*.local
.env.development.local
.env.test.local
.env.production.local

# Convex & Vercel
.vercel
.convex
**/.vercel
**/.convex

# Debug & Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & Editor files
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tsconfig.tsbuildinfo

.vercel
